@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #d0d0d0;
  font-family: 'Kanit', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}


.todoform {
  display:flex; 
  justify-content:space-between;
  align-items:left;
  column-gap:5px;
  color: white;
}
.todoformcontainer .todoform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
